.App{
  padding:0 1rem 1rem;
}
.movie{
  display:flex;
  width:13rem;
  border:1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  align-items: center;
  margin-bottom: 1rem;
}
.movie:hover{
  background-color: #f0f8ff;
}
.movie .movie-title{
  flex-grow: 1;
  cursor: default;
}
.movie .movie-year{
  font-size: 0.5rem;
  color:red;
  cursor: default;
}
button{
  background-color: #fff;
  border-radius: 5px;
  padding:5px;
  border-width: 1px 2px 2px 1px;
  border-color: #ccc;
  border-style: solid;
}
button:active{
  border-width: 2px 1px 1px 2px;
}